body, html{
	width: 100%;
	height: 100%;
}
body{
	padding:3.4% 2.4%;
	padding-top:0;
}
.main-container{
	background-color: #22B573;
	height: 100%;
	width: 100%;
	padding:40px;
	border: 1px solid #006837;
}
.text{
	text-align: center;
}
.main-container2{
	background-color: #29ABE2;
	height: 100%;
	width: 100%;
	border: 5px solid #0071BC;
	padding:3.4%
}
.main-container3{
	background-color: #FCEE21;
	height: 30%;
	width: 100%;
	border: 4px solid #7AC943;
	padding:3.4%
}
.main-container4{
	background-color: #FCEE21;
	height: 60%;
	width: 100%;
	border: 4px solid #7AC943;
	padding:3.4%
	font-size:51.1px;
	text-align: center;
}
.text-containe{
	padding-top:127px;
}
.main-container5{
	float:right;
	margin-right:76px;
	background-color: #FFFFFF;
	height: 20%;
	width: 10%;
	border: 5px solid #0071BC;
	padding:3.4%


}
.float-right{
	float:right;
}
.float-left{
	float:left
}
.left{
	margin-left:50px;
}
.right{
	margin-left:50px;
}